<h1>
   Ngx SERP Preview
   <div (click)="toggleDarkMode()" class="theme-toggle">
      <md-icon [icon]="darkToggleIcon"></md-icon>
   </div>
</h1>

<ngx-serp-tabs
   [title]="title"
   [description]="description"
   [faviconUrl]="faviconUrl"
   [siteName]="siteName"
   [url]="url">
</ngx-serp-tabs>

<br>

<div class="form">

   <h3>Title</h3>
   <input type="text" [(ngModel)]="title">

   <h3>Description</h3>
   <textarea name="" id="" cols="30" rows="10" [(ngModel)]="description"></textarea>

   <h3>Site Name</h3>
   <input type="text" [(ngModel)]="siteName">

   <h3>URL</h3>
   <input type="text" [(ngModel)]="url">

   <h3>Favicon URL</h3>
   <input type="text" [(ngModel)]="faviconUrl">

</div>
<br>
<br>
